@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@supports (padding: max(0px)) {
  .safe-top {
    padding-top: env(safe-area-inset-top);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
